name: Release Please (Next)

on:
  push:
    branches: [next]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}

      - uses: MapColonies/shared-workflows/actions/smart-release-please@smart-release-please
        with:
          token: ${{ secrets.GH_PAT }}
